<div class="w-auto container-sm p-4 m-5 bg-white  border">
    <div class="row">
        <div class="col-sm-6 ">
            <img class="image-fluid w-100" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8j7D7K0hKCAuxB_jDBEVRbPHosWmD2k36XQ&usqp=CAU" alt="">

   
</div>   


<div class="col-sm-6 ">
    <div class="text-center "><h2>Account Statement</h2>
    <span class=""></span>
    </div>
    <div class="btn-group align-self-end" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary">all</button>
        <button type="button" class="btn btn-primary">Debit</button>
        <button type="button" class="btn btn-primary">Credit</button>
      </div>
      <div>
        <table class="table table-borderless w-100 m-2 p-2">
            <thead class=" bg-primary  text-white">
                <tr>
                    <td>#</td>
                    <td>Type</td>
                    <td>Amount</td>
                    <td>Date</td>
                </tr>
            </thead>
          </table>
      </div>
      <div><button class="btn btn-outline-primary text-primary">Export As</button></div>
</div>
</div>
