
    
<div class="w-auto container-sm p-4 m-5 bg-white  border">
    <div class="row">
        <div class="col-sm-5 ">
            <img class="image-fluid w-100" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8j7D7K0hKCAuxB_jDBEVRbPHosWmD2k36XQ&usqp=CAU" alt="">

   
</div>   


<div class="col-sm-7 ">
    <div class="card mt-3 p-3 border-black bg-light shadow w-100">
            <h1 class="text-center">sign up</h1>
        <form class=" container ">
            <div class="mt-2 p-2"><input type="text"id="uname" class="form-control" placeholder="enter username"></div>
             <div class="mt-2 p-2"><input type="text"id="accno" class="form-control" placeholder="enter Account NO"></div>
              <div class="mt-2 p-2"><input type="password"id="pword" class="form-control" placeholder="enter password"></div>
               <div class="mt-2 p-2"><input type="password"id="cp" class="form-control" onclick="password()" placeholder="confirm password"></div>
    
               <div class=" p-2 text-center w-auto" ><button type="submit" onclick="signup()" class=" fw-bold text-center btn btn-light w-auto p-2 mt-4 text-black">sign up</button></div>
        </form>
    
</div>
</div>
</div>